/* raleway-300 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/raleway-v14-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
  url('../fonts/raleway-v14-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v14-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v14-latin_latin-ext-300.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-500 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/raleway-v14-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url('../fonts/raleway-v14-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v14-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v14-latin_latin-ext-500.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/raleway-v14-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
  url('../fonts/raleway-v14-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v14-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v14-latin_latin-ext-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-700 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/raleway-v14-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
  url('../fonts/raleway-v14-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v14-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v14-latin_latin-ext-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-800 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/raleway-v14-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
  url('../fonts/raleway-v14-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/raleway-v14-latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/raleway-v14-latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/raleway-v14-latin_latin-ext-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
