html {
    body {
        font-family: "Raleway", sans-serif;

        .c-heading {
            &--large {
                font-size: 4rem;
            }

            &--medium {
                font-size: 2.5rem;
            }

            &--small {
                font-size: 1.25rem;
            }
        }

        .c-header {
            transition: height $global-transition, transform $global-transition;

            &__lang-switch {
                transition: opacity $global-transition;

                &--padding {
                    padding: 0.125rem 0;
                    font-size: 0.6875rem;
                    color: #fff;
                    font-weight: 500;
                    letter-spacing: 0.11625rem;
                    line-height: 0.625rem;
                    opacity: .5;
                }

                &--is-active {
                    opacity: 1;
                }

                &:hover {
                    color: #fff;
                    opacity: .8;
                }
            }

            &__login-btn {
                border-radius: 2rem;
                padding: 0 1.875rem;
                color: $white;
                font-size: 0.6875rem;
                font-weight: 400;
                letter-spacing: 0.11625rem;
                transition: all $global-transition;

                &:hover,
                &:focus {
                    color: $white;
                    background-color: #ffb500;
                    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.21);
                }
            }

            &__apply-btn {
                background-color: #ffb500;
                border-radius: 2rem;
                border-color: #ffb500;
                padding: 0 1.875rem;
                color: $white;
                font-size: 0.6875rem;
                font-weight: 400;
                letter-spacing: 0.11625rem;
                box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.21);
                transition: all $global-transition;

                &:hover,
                &:focus {
                    color: $white;
                    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.21);
                }
            }

            &--is-scrolled {
                background-image: linear-gradient(68deg, #002cd2 0%, #0051ff 59%, #007bff 100%);
                height: 5rem;
            }
        }

        .c-menu {
            position: relative;

            &__indicator {
                border-bottom: 0.25rem solid #ffc011;
                position: absolute;
                top: 0;
                width: 0;
                opacity: 0;
            }
        }

        .c-navbar {
            &__list-item {
                &.current-menu-item {
                    font-weight: 700;
                }
            }

            &__link {
                text-transform: capitalize;
                color: $white;
                font-size: 0.9375rem;

                &:hover,
                &:focus {
                    color: $white;
                }
            }
        }

        .c-login-dropdown {
            border-radius: 2rem;
            background-image: linear-gradient(68deg, rgb(0, 44, 210) 0%, rgb(0, 81, 255) 59%, rgb(0, 123, 255) 100%);

            input,
            button {
                border-radius: 2rem;
            }

            button {
                color: #fff;
                font-size: 0.6875rem;
                font-weight: 400;
                letter-spacing: 0.11625rem;

                &:hover,
                &:focus {
                    color: $white;
                    background-color: #ffb500;
                    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.21);
                }
            }
        }

        .c-slider {
            background-image: url("../images/svg/header.svg"), linear-gradient(68deg, #0028cd 0%, #0051ff 59%, #007bff 100%);
            background-position: bottom left;
            background-repeat: no-repeat;
        }

        .c-slide {
            &__heading,
            &__content {
                color: $white;
            }

            &__heading {
                line-height: 4.75rem;
                font-weight: 100;
            }

            &__content {
                line-height: 1.75rem;
                font-weight: 300;
            }
        }

        .c-card {
            border-radius: 0.625rem;
            border: 0.0625rem solid $global-border;
            box-shadow: none;

            &__header {
                border-color: #dcdcdc;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
            }

            &__footer {
                border-top: none;
            }

            &__category {
                font-size: 0.6875rem;
                letter-spacing: 0.08125rem;
                line-height: 1.75rem;
                text-transform: uppercase;
                color: $text-grey;
            }

            &__content {
                line-height: 1.75rem;
            }
        }

        .c-social {
            display: flex;
            align-items: center;
            text-decoration: none;

            &__profile {
                margin-left: 0.9375rem;
                text-transform: uppercase;
                font-size: 0.75rem;
                font-weight: 700;
                letter-spacing: 0.126875rem;
                color: #0e4fec;
                display: flex;
                align-items: center;
                padding-bottom: 0.25rem;
                border-bottom: 0.0625rem solid;

                &__icon {
                    margin-left: 0.3125rem;
                }
            }
        }

        .c-footer {
            background-image: url("../images/svg/footer-shadow-top-right.svg"), url("../images/svg/footer-shadow-bottom-left.svg"), linear-gradient(68deg, #0028cd 0%, #0051ff 59%, #007bff 100%);
            background-position: 80% 0, 14% 100%, 0 0;
            background-repeat: no-repeat;
            position: relative;

            &__heading {
                opacity: 0.5;
                color: $white;
                line-height: 2.25rem;
            }

            &__content {
                color: $white;
                font-size: 0.875rem;
                line-height: 1.75rem;
            }

            &__text {
                opacity: 0.75;
            }

            &__link {
                color: $white;
                text-decoration: none;
                opacity: 0.75;
                transition: $global-transition;

                &:hover {
                    opacity: 1;
                }
            }

            &__company {
                max-width: 10rem;
                margin: 0 auto;

                &__logo {
                    width: 6.25rem;
                    margin-top: 0.625rem;
                }
            }
        }

        .c-newsletter {
            &__input {
                background: none;
                border-radius: 2rem;
                padding: 0 3.75rem 0 1.25rem;

                &::placeholder {
                    color: $white;
                    font-size: 0.875rem;
                    font-weight: 500;
                    letter-spacing: 0.125rem;
                    line-height: 2.125rem;
                    text-transform: uppercase;
                }

                &:focus {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            &__button {
                background: none;
                border: none;
                width: 3.75rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: auto;
                outline: none;
                padding: 0;
                cursor: pointer;
                transition: transform $global-transition;

                &:hover {
                    transform: translateX(0.3125rem);
                }
            }
        }
    }
}
