@media screen and (max-width: 60rem) {
    html {
        body {
            .c-heading {
                &--large {
                    font-size: 2.5rem;
                }
            }

            .c-slide {
                &__heading {
                    line-height: 1.4;
                }
            }
        }
    }
}
