.uk-flex-column\@m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (min-width: 767px) {
    .uk-flex-column\@m {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media only screen and (min-width: 1199px) {
    .uk-margin-large-left\@l {
        margin-left: 70px !important;
    }
    .uk-margin-medium-left\@l {
        margin-left: 40px !important;
    }
}
