$global-border: #dcdcdc;
$text-grey: #7d7d7d;
$white: #FFFFFF;

$global-gutter: 20px;
$global-medium-gutter: 30px;
$global-muted-color: #7d7d7d;
$navbar-toggle-color: $white;

$global-transition: .3s ease-in-out;
